<!-- Embedded Styling -->
<style>
  .function-header {
    cursor: pointer;
  }

  .function-header:hover {
    background-color: #f8f9fa;
  }

  .function-wrapper {
    border-bottom: 1px solid #e0e0e0;
  }

  .process-row {
    border-left: 3px solid #007bff;
    padding-left: 0.75rem;
    margin-bottom: 4px;
  }

  .process-row:hover {
    background-color: #f8f9fa;
    /* cursor: pointer; */
  }

  .table-text-bright td {
    padding: 0.25rem 0.25rem;
    vertical-align: middle;
  }

  .table.table-sm {
    margin-bottom: 0;
  }

  .theme-dark .function-wrapper {
    border-bottom: 1px solid #444;
  }

  .theme-dark .function-header:hover {
    background-color: #132f4d;
    color: #fff;
  }

  .theme-dark .process-row:hover {
    background-color: #132f4d;
    color: #fff;
    /* cursor: pointer; */
  }

  .function-description {
    font-style: italic;
    opacity: 0.7;
    font-size: 0.9em;
  }


</style>

<div class="h-100 d-flex flex-column">
  <div class="btn-toolbar" ng-disabled="data.itemNum===0">
    <div class="input-group btn-group btn-group-sm input-group-sm">
      <span class="input-group-prepend">
        <div class="btn btn-secondary">
          <i class="fa fa-filter"></i>
        </div>
      </span>
      <span class="input-group-append">
        <input class="form-control form-control-sm rounded-right" id="functionsFilter" style="border-radius: 0px;"
          ng-model="functionsPanel.filter.function" ng-model-options="{ debounce: 500 }"
          placeholder="{{'ATMOSPHEREPLACEHOLDERFILTERFUNCTIONS' | translate}}" title="{{'FILTER' | translate}}"
          spellcheck="false">
        <button type="button" class="btn btn-transparent" style="margin-left: -28px; z-index: 100;"
          ng-disabled="!functionsPanel.filter.function" ng-click="functionsPanel.filter.function=''">
          <i class="fa fa-close" title="{{'CLEAR' | translate}}"></i>
        </button>
      </span>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm">
      <span class="btn btn-primary" ng-click="deployProcesses()">
        {{'ATMOSPHERETITLECREATEPROCESSES' | translate}}
      </span>
    </div>
  </div>

  <div class="flex-grow-1" style="overflow-y: auto; padding-right: 12px;">
    <div
      ng-repeat="function in (data.renderFunctions = (data.filteredFunctions | orderBy: functionsPanel.sortColumn.key : functionsPanel.sortColumn.direction  | limitTo : functionsPanel.pageState.itemsPerPage : (functionsPanel.pageState.currentPage - 1) * functionsPanel.pageState.itemsPerPage)) track by $index"
      class="mb-1 function-wrapper">

      <!-- Function Header -->
      <div class="p-2 d-flex justify-content-between align-items-center cursor-pointer function-header"
        ng-click="toggleFunction(function['Function Name'])">
        <div>
          <strong>{{function['Function Name']}}</strong> - {{function['Function Type']}} - 
          <span class="badge badge-pill badge-info">{{functionProcessMap[function['Function Name']].length}}</span> processes
          <div class="function-description">
            {{ function['Function Description'] }}
          </div>
        </div>
        <div>
          <i class="fa"
            ng-class="{'fa-chevron-down': !isExpanded(function['Function Name']), 'fa-chevron-up': isExpanded(function['Function Name'])}"></i>
        </div>
      </div>


      <!-- Process List -->
      <div class="px-2 pb-2" ng-if="isExpanded(function['Function Name'])">
        <div ng-repeat="process in functionProcessMap[function['Function Name']] track by process.Name"
          class="process-row d-flex justify-content-between align-items-center">
          <div>{{ process.Name }}</div>
          <div>{{ process.Description }}</div>
          <div>
            <button class="btn btn-sm btn-secondary" title="{{'ATMOSPHERETITLEPROCESSEXECUTE' | translate}}"
              ng-click="executeProcess(process); $event.stopPropagation();" ng-disabled="executionStatus">
              <i class="fa fa-fw fa-bolt"></i>
            </button>
          </div>
        </div>

        <div ng-if="functionProcessMap[function['Function Name']].length === 0"
          class="text-muted text-center small mt-2">
          {{ 'ATMOSPHERENOPROCESSESFOUND' | translate }}
        </div>
      </div>
    </div>
  </div>

  <arc-data-pager page-state="functionsPanel.pageState" on-page-changed="functionsPageChanged"
    options="functionsPanel.functionPageOptions" small="true">
  </arc-data-pager>
</div>