<div class="h-100 d-flex flex-column">
  <div class="btn-toolbar" ng-show="false">
    <div class="input-group btn-group btn-group-sm input-group-sm">
      <button class="btn btn-secondary" title="{{'REFRESH' | translate}}" ng-disabled="executionStatus"
        ng-click="refreshData()">
        <i class="fa fa-fw fa-refresh" ng-class="{ 'fa-spin': executionStatus }"></i>
      </button>
    </div>
  </div>
  <div class="flex-grow-1 d-flex justify-content-center align-items-center" ng-if="executionStatus">
    <i class="fa fa-refresh fa-spin fa-fw fa-5x"></i>
  </div>
  <div ng-if="!executionStatus" class="flex-grow-1" style="overflow-y: auto;">
    <table class="table table-sm table-hover table-text-bright table-vertical-align-top">
      <thead>
        <tr>
          <th style="width:65px">
            <span class="pull-left">{{'ATMOSPHERETITLEPERIOD' | translate}}</span>
          </th>
          <th style="width:100px;">
            <span class="click pull-right" ng-click="sortBy(column.key)">
              {{'ATMOSPHERETITLEAVAILABLERUNTIMEINMINUTES' | translate}}
            </span>
          </th>
          <th style="width:100px">
            <span class="click pull-right" ng-click="sortBy(column.key)">
              {{'ATMOSPHERETITLERUNTIMEINMINUTES' | translate}}
            </span>
          </th>
          <th style="width:120px">
            <span class="click pull-right" ng-click="sortBy(column.key)">
              {{'ATMOSPHERETITLEPERIODELAPSED' | translate}}
            </span>
          </th>
          <th style="width:120px">
            <span class="click pull-right" ng-click="sortBy(column.key)">
              {{'ATMOSPHERETITLERUNTIMEUSED' | translate}}
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in data.items track by $index">
          <td>
            <span>
              {{item['Period']}}
            </span>
          </td>
          <td>
            <span class="pull-right">
              {{item['availableRuntimeStr']}}
            </span>
          </td>
          <td>
            <span class="pull-right">
              {{item['actualRuntimeStr']}}
            </span>
          </td>
          <td>
            <div class="pull-right">
              <div class="progress" style="width:100px">
                <div class="progress-bar" ng-class="[item.periodElapsedProgressClass]" role="progressbar"
                  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                  ng-style="{width: {{item['% Period Elapsed']}} + '%'}">
                </div>
              </div>
              <span>{{item['% Period Elapsed'] + '%'}}<span>
            </div>
          </td>
          <td>
            <div class="pull-right">
              <div class="progress" style="width:100px">
                <div class="progress-bar" ng-class="[item.runtimeUsedProgressClass]" role="progressbar"
                  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2px;"
                  ng-style="{width: {{item['% Runtime Used']}} + '%'}">
                </div>
              </div>
              <span>{{item['% Runtime Used'].toFixed(2) + '%'}}<span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>