<div class="h-100 d-flex flex-column">
  <div class="btn-toolbar">
    <!-- Bulk actions toolbar group -->
    <div class="input-group btn-group btn-group-sm input-group-sm">
      <button class="btn btn-secondary py-0" title="{{ 'ATMOSPHERETITLEHISTORYCHECKALL' | translate}}"
        ng-click="toggleAllChecked()">
        <i class="fa fa-fw text-info" ng-class="settings.allChecked ? 'fa-check-square-o' : 'fa-square-o'"></i>
        <span ng-if="data.checkedNum > 0" class="badge badge-pill badge-info">{{data.checkedNum}}</span>
      </button>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm" uib-dropdown is-open="selectColumnsIsOpen" auto-close="outsideClick">
      <button id="dropdownSelectColumns" type="button" class="dropdown-toggle btn btn-secondary btn-sm"
        uib-dropdown-toggle title="{{ 'ATMOSPHERETABLABELCOLUMNS' | translate}}">
        <span class="fa fa-columns"></span>
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-left" uib-dropdown-menu style="width:180px">
        <div class="list-group">
          <button type="button" class="list-group-item btn btn-sm text-left"
          ng-repeat="column in settings.columns track by $index" ng-click="column.display = !column.display;event.preventDefault();">
          <i class="fa fa-fw text-info" ng-class="column.display ? 'fa-check-square-o' : 'fa-square-o'"></i>
            <span class="">{{column.translateKey | translate}}</span>
          </button>
        </div>
      </div>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm">
      <span class="input-group-prepend">
        <span class="input-group-text font-weight-bold"
        title="{{ 'ATMOSPHERETABLABELFUNCTIONS' | translate}}">
          <i class="fa fa-fw fa-plug"></i>
        </span>
      </span>
      <select class="form-control editor-select" ng-model="settings.filter.functionName" ng-change="refreshData()"
        title="{{ 'ATMOSPHERETABLABELFUNCTIONS' | translate}}" ng-disabled="executionStatus">
        <option value=""></option>
        <option ng-repeat="function in functions track by $index" 
                ng-if="function['Function Type'] !== 'Info Function'" 
                value="{{function['Function Name']}}">
          {{function['Function Name']}}
        </option>

      </select>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm" title="{{ 'ATMOSPHEREFILTERBYTOP' | translate}}">
      <span class="input-group-prepend">
        <span class="input-group-text">{{'ATMOSPHERETABLABELTOP' | translate}}</span>
      </span>
      <select class="form-control editor-select" ng-model="settings.filter.top" ng-change="refreshData()" ng-disabled="executionStatus">
        <option value=""></option>
        <option ng-repeat="num in settings.filter.topOptions track by $index" value="{{num}}">{{num}}</option>
      </select>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm"
      title="{{'ATMOSPHEREFILTERBYSINCEDATE' | translate}}">
      <div class="input-group-prepend" uib-dropdown is-open="sinceDateIsOpen">
        <button id="dropdownSinceTime" type="button" class="btn btn-secondary btn-sm" ng-disabled="executionStatus" uib-dropdown-toggle>
          <span class="fa fa-calendar"></span>
          <!-- <i class="fa fa-angle-right"></i> -->
          <span class="caret"></span>
        </button>
        <span class="fa fa-remove btn btn-sm" style="position: absolute;top: 0px;right: -100px;z-index: 5;" title="{{'ATMOSPHERETITLECLEARDATEVALUE' | translate}}"
        ng-click="clearFilter('sinceDate');refreshData();"></span>
        <div class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
          <datetimepicker ng-model="settings.filter.sinceDate"
            datetimepicker-config="{modelType:'moment', startView:'day', minView:'day'}" popup-placement="top"
            on-set-time="refreshData();sinceDateIsOpen=false;" />
        </div>
      </div>
      <span type="text" class="form-control form-control-sm" autocomplete="off" style="width:100px"
        ng-if="settings.filter.sinceDate !== ''">
        {{settings.filter.sinceDate | amDateFormat:'ll'}}
      </span>
      <span type="text" class="form-control form-control-sm" autocomplete="off" style="width:100px"
        ng-if="settings.filter.sinceDate === ''">
        {{'ATMOSPHERETABLABELSINCE' | translate}}
      </span>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm"
      title="{{'ATMOSPHEREFILTERBYUNTILDATE' | translate}}">
      <div class="input-group-prepend" uib-dropdown is-open="untilDateIsOpen">
        <button id="dropdownUntilDate" type="button" class="btn btn-sm btn-secondary" ng-disabled="executionStatus" uib-dropdown-toggle>
          <span class="fa fa-calendar"></span>
          <!-- <i class="fa fa-angle-left"></i> -->
          <span class="caret"></span>
        </button>
        <span class="fa fa-remove btn btn-sm" style="position: absolute;top: 0px;right: -100px;z-index: 5;" title="{{'ATMOSPHERETITLECLEARDATEVALUE' | translate}}"
        ng-click="clearFilter('untilDate');refreshData();"></span>
        <div class="dropdown-menu dropdown-menu-left" uib-dropdown-menu>
          <datetimepicker ng-model="settings.filter.untilDate"
            datetimepicker-config="{modelType:'moment', startView:'day', minView:'day'}" popup-placement="top"
            on-set-time="refreshData(); untilDateIsOpen=false;" />
        </div>
      </div>
      <span type="text" class="form-control form-control-sm" autocomplete="off" style="width:100px"
        ng-if="settings.filter.untilDate !== ''">
        {{settings.filter.untilDate | amDateFormat:'ll'}}
      </span>
      <span type="text" class="form-control form-control-sm" autocomplete="off" style="width:100px"
        ng-if="settings.filter.untilDate === ''">
        {{'ATMOSPHERETABLABELUNTIL' | translate}}
      </span>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm" title="{{ 'ATMOSPHEREFILTERBYSUCCESS' | translate}}">
      <span class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-check"></i></span>
      </span>
      <select class="form-control editor-select" ng-model="settings.filter.success" ng-change="refreshData()" ng-disabled="executionStatus">
        <option value=""></option>
        <option value="true">{{'ATMOSPHERETABLABELSUCCESSTRUE' | translate}}</option>
        <option value="false">{{'ATMOSPHERETABLABELSUCCESSFALSE' | translate}}</option>
      </select>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm">
      <button class="btn btn-secondary" title="{{'REFRESH' | translate}}" ng-disabled="executionStatus"
        ng-click="refreshData()">
        <i class="fa fa-fw fa-refresh" ng-class="{ 'fa-spin': executionStatus }"></i>
      </button>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm">
      <button type="button" class="btn" ng-class="data.checkedNum == 0 ? 'btn-secondary' : 'btn-success'"
        ng-disabled="data.checkedNum == 0" ng-click="export()">
        <i class="fa fa-file-excel-o" title="{{'ATMOSPHERETABLABELDOWNLOADCSV' | translate}}"></i>
        {{'ATMOSPHERETABLABELEXPORT' | translate}}
      </button>
    </div>
  </div>

  <div class="flex-grow-1 d-flex justify-content-center align-items-center" ng-if="executionStatus">
    <i class="fa fa-refresh fa-spin fa-fw fa-5x"></i>
  </div>

  <div ng-if="!executionStatus" class="flex-grow-1" style="overflow-y: auto;">
    <table ng-if="data.itemNum > 0" class="table table-sm table-striped table-hover table-text-bright table-vertical-align-top">
      <thead>
        <tr>
          <th style="width:30px"></th>
          <th ng-repeat="column in settings.columns | filter: {display:true}"
            ng-style="{minWidth:column.width? column.width + 'px': ''}">
            <span class="click" ng-click="sortBy(column.key)">
              {{ column.translateKey | translate}}
              <i ng-if="settings.sortColumn.key === column.key && !settings.sortColumn.direction"
                class="fa fa-fw fa-sort-amount-asc"></i>
              <i ng-if="settings.sortColumn.key === column.key && settings.sortColumn.direction"
                class="fa fa-fw fa-sort-amount-desc"></i>
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="item in (settins.itemFiltered = (data.items | orderBy: settings.sortColumn.key : settings.sortColumn.direction | limitTo : settings.pageState.itemsPerPage : (settings.pageState.currentPage - 1) * settings.pageState.itemsPerPage)) track by $index"
          ng-class="{ 'list-item-selected': item.checked }">
          <td>
            <span title="{{ 'ATMOSPHERETITLEHISTORYCHECK' | translate}}"
              ng-click="toggleChecked(item); $event.stopPropagation();">
              <i class="fa fa-fw text-info" ng-class="item.checked ? 'fa-check-square-o' : 'fa-square-o'"></i>
            </span>
          </td>
          <td ng-repeat="column in settings.columns | filter: {display:true}">
            <span ng-if="column.key !== 'Success'">
              {{item[column.key]}}
              <a ng-if="column.key === 'Function'">
                <i class="fa fa-search" ng-click="settings.filter.functionName = item.Function;refreshData()"
                  title="{{ 'ATMOSPHEREFILTERBYFUNCTION' | translate}}"></i>
              </a>
            </span>
            <span ng-if="column.key === 'Success' && item.Success === false" class="btn btn-sm">
              <i class="fa fa-times-circle-o text-danger"></i>
              <i class="fa fa-search text-danger" ng-click="settings.filter.success = ''+item.Success;refreshData()"
                title="{{ 'ATMOSPHEREFILTERBYSUCCESS' | translate}}"></i>
            </span>
            <span ng-if="column.key === 'Success' && item.Success === true" class="btn btn-sm">
              <i class="fa fa-check-circle-o text-success"></i>
              <i class="fa fa-search text-success" ng-click="settings.filter.success = ''+item.Success;refreshData()"
                title="{{ 'ATMOSPHEREFILTERBYSUCCESS' | translate}}"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <arc-data-pager page-state="settings.pageState" on-page-changed="pageChanged" options="settings.pageOptions"
    small="true"></arc-data-pager>
</div>