<div class="mdx">
    <style>
        .popover-class-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .popover-class-warning {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }
    </style>
    <!--SEARCH SUBSET BY DIMENSION-->
    <div class="row">
        <div class="col-md-2">
            Dimension:
        </div>
        <div class="col-md-2">
            <select class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="selections.dimension" ng-change="getHierarchies()"
                title="">
                <option value="? undefined:undefined ?" selected="selected">
                </option>
                <option ng-repeat="item in lists.dimensions" class="ng-binding ng-scope" value="{{item.Name}}">{{item.Name}}</option>
            </select>
        </div>
        <div class="col-md-2" ng-if="selections.dimension">
            Hierarchies:
        </div>
        <div class="col-md-2" ng-if="selections.dimension">
            <select class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="selections.hierarchy" ng-change="getSubsets()"
                title="">
                <option value="? undefined:undefined ?" selected="selected">
                </option>
                <option ng-repeat="item in lists.hierarchies" class="ng-binding ng-scope" value="{{item.Name}}">{{item.Name}}</option>
            </select>
        </div>
        <div class="col-md-2" ng-if="selections.hierarchy">
            Subsets:
        </div>
        <div class="col-md-2" ng-if="selections.hierarchy">
            <select class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="selections.subset" ng-change="getSubsetName()"
                title="">
                <option value="? undefined:undefined ?" selected="selected">
                </option>
                <option ng-repeat="item in lists.subsets" class="ng-binding ng-scope" value="{{item.Name}}">{{item.Name}}</option>
            </select>
        </div>
    </div>
    {{viewsToDelete}}
    <div class="row" ng-if="selections.subsetName" ng-repeat="item in lists.allViewsPerSubset | filter:selections.subsetName">
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="text-center"> </th>
                            <th class="text-center"> View </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="view in item.views">
                            <td>
                                <input type="checkbox" ng-model="change" ng-change="toggleViewsToDelete(view)" class="ng-pristine ng-untouched ng-valid ng-empty">
                                </input>
                            </td>
                            <td>
                                {{view}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</div>