<div>
   <div class="modal-header">
      <span>
         <i class="fa fa-trash text-delete"></i>
         <span translate="DELETELIST">
         </span>
      </span>
   </div>
   <div class="modal-body">
      <div style="padding: 20px; word-break: normal;">
         <i class="fa fa-fw {{$root.uiPrefs.arcBauSettings[$root.uiPrefs.arcBauValues.taskIndex].icon}}"></i>
         <span>{{$root.uiPrefs.arcBauSettings[$root.uiPrefs.arcBauValues.taskIndex].name}}</span>
      </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn text-danger action ng-scope"
         ng-click="removeLists($root.uiPrefs.arcBauValues.taskIndex);closeThisDialog(0)" translate="DELETE"></button>
      <button type="button" class="btn action ng-scope" ng-click="closeThisDialog(0)" translate="CANCEL"></button>
   </div>
</div>