<div class="atmosphere-portal-container h-100 d-flex flex-column" id="{{id}}-atmosphere-portal-container">
  <!-- Main Toolbar -->
  <div class="pb-3">
    <arc-toolbar large="$root.uiPrefs.atmospherePortalBigButtons">
      <arc-toolbar-group>
        <arc-toolbar-button arc-text="REFRESH" arc-title="REFRESH" arc-icon-class="fa-refresh" arc-click="refresh()"
          arc-icon-states="{ executing: iconStates.refreshing, disabled: iconStates.disabled }"
          arc-icon-state="{{ hasAtmosphere ? (executionStatus ? 'executing' : null) : 'disabled' }}">
        </arc-toolbar-button>
      </arc-toolbar-group>
      <arc-toolbar-group>
        <arc-toolbar-dropdown arc-text="OPTIONS" arc-title="OPTIONS" arc-icon-class="fa-cog"
          arc-dropdown-alignment="right" arc-dropdown-width="280px">
          <arc-toolbar-dropdown-item
            arc-click="$root.uiPrefs.atmospherePortalBigButtons = !$root.uiPrefs.atmospherePortalBigButtons;"
            arc-dropdown-stay-open>
            <a href style="padding: 4px;display: block;">
              <i class="fa fa-fw"
                ng-class="{ 'fa-expand': $root.uiPrefs.atmospherePortalBigButtons, 'fa-compress': !$root.uiPrefs.atmospherePortalBigButtons }"></i>
              <span translate="{{'LARGEBUTTONS' | translate}}"></span>
              <span class="pull-right mt-1 mr-2">
                <i class="fa fa-toggle-on pull-right" ng-if="$root.uiPrefs.atmospherePortalBigButtons"></i>
                <i class="fa fa-toggle-off pull-right" ng-if="!$root.uiPrefs.atmospherePortalBigButtons"></i>
              </span>
            </a>
          </arc-toolbar-dropdown-item>
          <arc-toolbar-dropdown-item arc-click="toggleCredentials()" arc-dropdown-stay-open>
            <a href style="padding: 4px;display: block;">
              <i class="fa fa-fw fa-key"></i>
              <span translate="{{'ATMOSPHERELABELCLEARCREDENTIALS' | translate}}"></span>
              <span class="pull-right mt-1 mr-2">
                <i class="fa fa-toggle-on pull-right" ng-if="$root.uiPrefs.atmosphereStoreCredentials"></i>
                <i class="fa fa-toggle-off pull-right" ng-if="!$root.uiPrefs.atmosphereStoreCredentials"></i>
              </span>
            </a>
          </arc-toolbar-dropdown-item>
          <arc-toolbar-dropdown-item arc-click="updateLicense()" arc-dropdown-stay-open>
            <a href style="padding: 4px;display: block;">
              <i class="fa fa-id-card-o"></i>
              <span translate="{{'ATMOSPHERELABELUPDATELICENSE' | translate}}"></span>
            </a>
          </arc-toolbar-dropdown-item>
        </arc-toolbar-dropdown>
        <arc-toolbar-button arc-text="HELP" arc-title="HELP" arc-icon-class="fa-question-circle" arc-click="help()">
        </arc-toolbar-button>
      </arc-toolbar-group>
    </arc-toolbar>
  </div>

  <atmosphere-message-url-missing message = "atmosphereMessage" atmosphere-url="atmosphereUrl"></atmosphere-message-url-missing>

  <div class="flex-grow-1 d-flex justify-content-center align-items-center" ng-if="!initialized || executionStatus">
    <i class="fa fa-refresh fa-spin fa-fw fa-5x" style="margin-top: 50px;"></i>
  </div>

  <!-- Main Tabset -->
  <uib-tabset active="tabIndex" class="flex-grow-1" ng-if="!executionStatus && hasAtmosphere">
    <uib-tab class="h-100" ng-click="tabChanged('functions')">
      <uib-tab-heading>
        <span class="font-weight-bold">
          <i class="fa fa-fw fa-plug"></i>
        </span>
        <span translate="ATMOSPHERETABLABELFUNCTIONSANDPROCESSES"></span>
      </uib-tab-heading>
      <auto-height>
        <cubewise-atmosphere-functions is-active="global.activeTab == 'functions'" instance="instance" functions="global.functions">
        </cubewise-atmosphere-functions>
      </auto-height>
    </uib-tab>
    <uib-tab class="h-100" ng-click="tabChanged('history')">
      <uib-tab-heading>
        <i class="fa fa-fw fa-clock-o"></i>
        <span translate="ATMOSPHERETABLABELHISTORY"></span>
      </uib-tab-heading>
      <auto-height>
        <cubewise-atmosphere-usage-history is-active="global.activeTab == 'history'" instance="instance" functions="global.functionsUsage">
        </cubewise-atmosphere-usage-history>
      </auto-height>
    </uib-tab>
    <uib-tab class="h-100" ng-click="tabChanged('log')">
      <uib-tab-heading>
        <i class="fa fa-fw fa-list-alt"></i>
        <span translate="ATMOSPHERETABLABELLOGS"></span>
      </uib-tab-heading>
      <auto-height>
        <cubewise-atmosphere-logs is-active="global.activeTab == 'log'" instance="instance" functions="global.functionsLogs">
        </cubewise-atmosphere-logs>
      </auto-height>
    </uib-tab>
    <uib-tab class="h-100" ng-click="tabChanged('quota')">
      <uib-tab-heading>
        <i class="fa fa-tachometer"></i>
        <span translate="ATMOSPHERETABLABELQUOTA"></span>
      </uib-tab-heading>
      <auto-height>
        <cubewise-atmosphere-quota is-active="global.activeTab == 'quota'" instance="instance">
        </cubewise-atmosphere-quota>
      </auto-height>
    </uib-tab>
  </uib-tabset>
</div>