<div class="auto-height">
    <div class="row">
        <div class="col-md-12">
            <h2>List of all Arc services</h2>
        </div>
    </div>
    <auto-height>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="padding: 5px 10px;">
                        <i class="fa fa-fw chores"></i> $tm1.choreExecute</div>
                    <div class="card-body">
                        <div class="card-text">
                            Run a chore:
                        </div>
                        <div>
                            <div class="input-group">
                                <input type="text" ng-model="selections.chore" placeholder="Chore Name" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                    style="display:inline">
                                <div class="input-group-append">
                                    <button ng-disabled="!selections.chore" class="btn btn-warning" title="Delete" ng-click="executeChore(selections.chore)"
                                        disabled="disabled">
                                        <i class="fa fa-fw fa-bolt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="padding: 5px 10px;">
                        <i class="fa fa-fw processes"></i> $tm1.processExecute</div>
                    <div class="card-body">
                        <div class="card-text">
                            Run a process:
                        </div>
                        <div class="input-group">
                            <input type="text" ng-model="selections.process" placeholder="Process Name" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                style="display:inline">
                            <div class="input-group-append">
                                <button ng-disabled="!selections.process" class="btn btn-warning" title="Delete" ng-click="executeProcess(selections.process)"
                                    disabled="disabled">
                                    <i class="fa fa-fw fa-bolt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="padding: 5px 10px;">
                        <i class="fa fa-fw cubes"></i>$tm1.instances</div>
                    <div class="card-body">
                        <div class="input-group">
                            <div class="col-md-10">
                                <span>Click to get the list of all instances available:</span>
                            </div>
                            <div class="col-md-2 text-right" style="padding-right:0px">
                                <button class="btn btn-warning" title="Get Instances" ng-click="getInstances()">
                                    <i class="fa fa-fw fa-bolt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="padding: 5px 10px;">
                        <i class="fa fa-fw cubes"></i>$tm1.instance</div>
                    <div class="card-body">
                        <div class="card-text">
                            Get information of a specific instance:
                        </div>
                        <div class="btn-toolbar input-group pull-right">
                            <input type="text" ng-model="selections.instance" placeholder="Dimension Name" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                style="display:inline">
                            <div class="input-group-append">
                                <button class="btn btn-warning input-group-append" title="Get Instance" ng-click="getInstance(selections.instance)">
                                    <i class="fa fa-fw fa-bolt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="padding: 5px 10px;">
                        <i class="fa fa-fw dimensions"></i> $tm1.cubeDimensions </div>
                    <div class="card-body">
                        <div class="card-text">
                            Get dimensions for a specific cube:
                        </div>
                        <div class="input-group">
                            <input type="text" ng-model="selections.cube" placeholder="Cube Name" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                style="display:inline">
                            <div class="input-group-append">
                                <button ng-disabled="!selections.cube" class="btn btn-warning" title="Delete" ng-click="getCubeDimensions(selections.cube)"
                                    disabled="disabled">
                                    <i class="fa fa-fw fa-bolt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="padding: 5px 10px;">
                        <i class="fa fa-fw fa-pencil-square"></i> $tm1.cellUpdate </div>
                    <div class="card-body">
                        <div class="card-text">
                            Send a value to a cell:
                        </div>
                        <div class="btn-toolbar pull-right">
                            <div class="input-group">
                                <input type="text" ng-model="selections.valueToBeSent" placeholder="Value" class="col-md-4 form-control ng-pristine ng-untouched ng-valid ng-empty"
                                    style="display:inline">
                                <div class="col-md-4 text-center">
                                    <button ng-disabled="!selections.valueToBeSent" class="btn btn-warning" title="Delete" ng-click="sendValueToCell(selections.valueToBeSent)"
                                        disabled="disabled">
                                        <i class="fa fa-fw fa-arrow-right"></i>
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    Value in TM1: {{values.CurrentDate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </auto-height>
</div>