<div>
   <div class="card">
      <div class="card-header" style="padding: 5px 10px;">
         <span translate="QUERY"></span>
         <div class="pull-right">
            <a href ng-click="hideQuery = !hideQuery">
               <i class="fa fa-toggle-on" ng-if="!hideQuery"></i>
               <i class="fa fa-toggle-off" ng-if="hideQuery"></i>
            </a>
         </div>
      </div>
      <div class="card-body p-0" ng-if="!hideQuery">
         <table class="table table-sm table-middle">
            <tbody>
               <tr>
                  <th class="text-right" translate="DATASOURCENAME"></th>
                  <td style="width: 350px;">
                     <input ng-disabled="filter.isReadOnly" ng-if="!odbcDSNSelect" type="text" class="form-control"
                        ng-model="$root.uiPrefs.odbc.dataSourceNameForServer" spellcheck="false"
                        autocomplete="off" />
                     <select ng-disabled="filter.isReadOnly" ng-if="odbcDSNSelect" class="form-control"
                        ng-model="$root.uiPrefs.odbc.dataSourceNameForServer">
                        <option ng-repeat="item in odbcDataSources track by item.Name" value="{{item.Name}}">
                           {{item.Name}} ({{item.Description}})</option>
                     </select>
                  </td>
                  <th class="text-right" translate="USEUNICODE"></th>
                  <td style="vertical-align: middle;"><input ng-disabled="filter.isReadOnly" type="checkbox"
                        ng-model="$root.uiPrefs.odbc.usesUnicode" /></td>
                  <td style="width:200px">

                     <div class="input-group">
                        <span class="input-group-prepend">
                           <span class="input-group-text ng-scope" translate="MAXROWS">Max. Rows</span>
                        </span>                
                        <input ng-disabled="filter.isReadOnly" type="number" class="form-control"
                        style="text-align:center;"
                        ng-model="$root.uiPrefs.maxRows"></input>
                     <div ng-if="showInsertSelect()">
                        <button ng-if="!filter.isReadOnly" class="btn btn-secondary"
                           style="width:100%;" ng-click="insertSelect()"><span
                              translate="INSERTSELECT"></span></button>
                     </div>
                     <div ng-if="showInsertColumn()">
                        <button ng-if="!filter.isReadOnly" class="btn btn-secondary"
                           style="width:100%;" ng-click="insertColumn()"><span
                              translate="INSERTCOLUMN"></span></button>
                     </div>
                     </div>
                  </td>
               </tr>
               <tr>
                  <th class="text-right" translate="USERNAME"></th>
                  <td><input ng-disabled="filter.isReadOnly" type="text" class="form-control"
                        ng-model="$root.uiPrefs.odbc.userName" spellcheck="false" autocomplete="off" /></td>
                  <th class="text-right" translate="PASSWORD"></th>
                  <td><input ng-disabled="filter.isReadOnly" type="password" class="form-control"
                        ng-model="$root.uiPrefs.odbc.password" spellcheck="false" autocomplete="off" /></td>
                  <td>
                     <div>
                        <button class="btn btn-secondary"
                           style="width:100%;" ng-click="odbcPreview()"
                           ng-disabled="odbcExecuting">
                           <i ng-if="!odbcExecuting" class="fa fa-fw fa-bolt ng-scope"></i>
                           <i ng-if="odbcExecuting" class="fa fa-refresh fa-spin"></i>
                           <span translate="PREVIEW"></span> </button>
                     </div>     
                  </td>
               </tr>
            </tbody>
         </table>
         
         <pre ui-ace="{ onLoad : sqlEditorLoaded, onChange: sqlChanged }"
         style="overflow-y: auto;" 
         ng-style="{'max-height': $root.uiPrefs.odbcSplitter}" 
         auto-height auto-height-options="{noScroll: true, watchTab: true}"></pre>
         <div class="horizontal-splitter" ng-mousedown="splitDown($event)"></div>
      </div>
   </div>
   <table class="table table-sm table-middle">
      <tbody>
         <tr>
            <td colspan="4">
               <uib-tabset active="odbc.activeTabIndex">
                  <uib-tab index="0" ng-click="tabSelected()">
                     <uib-tab-heading><span translate="RESULT"></span>
                     <span class="badge badge-info badge-pill" ng-if="result.table.RowsDisplayed.length>0">{{result.table.RowsDisplayed.length}}</span></uib-tab-heading>
                     <table class="table table-bordered" ng-if="result.table.Rows.length>0 || odbcError">
                        <tr>
                           <td style="width: 100%; max-width: 100px;">
                              <div ng-if="odbcError" class="alert alert-danger">
                                 {{odbcError}}
                              </div>
                              <auto-height>
                                 <hot-grid ng-if="resultRefreshed" dataset="result" drill="expandOrCollapse(axis, item)" refresh="execute({clear: false, inBackground: true})" complete="complete()" cells-selected="cellsSelected(headers, cells)" context-menu-clicked="contextMenuClicked($event, type, item, location)" api="hotGrid"></hot-grid>    
                              </auto-height>                               
                           </td>
                        </tr>
                     </table>
                  </uib-tab>
                  <uib-tab index="1" ng-click="tabSelected()">
                     <uib-tab-heading >
                        <span>History</span> 
                        <span class="badge badge-info badge-pill" ng-if="$root.uiPrefs.sqlHistory.length>0">{{$root.uiPrefs.sqlHistory.length}}</span>
                     </uib-tab-heading>
                     <auto-height>
                           <span ng-if="$root.uiPrefs.sqlChecked.length>0">
                                 <i class="click fa" ng-class="{'fa-minus-square-o':$root.uiPrefs.showMDXChecked,'fa-plus-square-o':!$root.uiPrefs.showMDXChecked}" ng-click="$root.uiPrefs.showMDXChecked=!$root.uiPrefs.showMDXChecked"></i>
                                 Pinned ({{$root.uiPrefs.sqlChecked.length}})
                              </span>
                        <div ng-repeat="item in $root.uiPrefs.sqlChecked" ng-if="$root.uiPrefs.showMDXChecked"
                        ng-class="{'func-active': indexTiFunctions === $index}">
                        <div class="mt-1 mb-1 ml-2" style="white-space:nowrap;">
                           <span ng-if="item.bookmark" ng-click="removeOneQueryFromChecked('sqlChecked',$index,item.uniqueID)">
                              <i class="click fa fa-check-square text-info"
                                             title="Move to the top"></i>
                           </span>
                           <span ng-click="moveOneQuery(item, $index, 'up')">
                              <i class="click fa fa-chevron-circle-up text-info"
                                             title="Remove from history"></i>
                           </span>
                           <span ng-click="moveOneQuery(item, $index, 'down')">
                              <i class="click fa fa-chevron-circle-down text-info"
                                             title="Remove from history"></i>
                           </span>
                           <span ng-if="item.queryStatus == 'success'" class="badge ml-1 badge-success"
                           style="font-size:0.9em">
                           {{item.responseTimeMs | num:0}} ms
                        </span>
                        <span ng-if="item.message.length>0" class="badge ml-1 badge-warning" ng-click="updateCurrentQuery(item)" class="click"
                           style="font-size:0.9em">
                           {{item.message}}
                        </span>
                           <span ng-click="updateCurrentQuery(item)" class="click" ng-if="item.queryStatus != 'failed'">
                              <i class="fa fa-database"></i> {{item.query.DSN}} <i class="fa fa-chevron-right" aria-hidden="true" style="font-size:0.8em"></i> 
                           {{item.query.SQL}}</span>
                        </div>
                     </div>
                     <span ng-if="$root.uiPrefs.sqlHistory.length>0">
                           <i class="click fa" ng-class="{'fa-minus-square-o':$root.uiPrefs.showMDXHistory,'fa-plus-square-o':!$root.uiPrefs.showMDXHistory}" ng-click="$root.uiPrefs.showMDXHistory=!$root.uiPrefs.showMDXHistory"></i>
                           All ({{$root.uiPrefs.sqlHistory.length}})
                           <a href="" ng-if="$root.uiPrefs.sqlHistory.length>0" title="{{'CLEAR' | translate}}"
                              ng-click="clearMDXHistory()" ng-disabled="!$root.uiPrefs.sqlHistory.length">
                              <i class="fa fa-fw fa-trash text-danger"></i>
                           </a>
                        </span>
                        <div ng-repeat="item in $root.uiPrefs.sqlHistory" ng-if="$root.uiPrefs.showMDXHistory"
                           ng-class="{'func-active': indexTiFunctions === $index}">
                           <div class="click mt-1 mb-1 ml-2" ng-click="updateCurrentQuery(item)" style="white-space:nowrap;">
                              <span ng-click="removeOneQuery(item, $index)">
                                 <i class="fa fa-fw fa-trash text-danger"
                                                title="Remove from history"></i>
                              </span>
                              <span ng-if="!item.bookmark" ng-click="moveOneQuery(item, $index, 'top')">
                                 <i class="fa fa-square-o text-info"
                                                title="Move to the top"></i>
                              </span>
                              <span ng-if="item.bookmark" ng-click="removeOneQueryFromChecked('sqlHistory',$index,item.uniqueID)">
                                 <i class="fa fa-check-square text-info"
                                                title="Remove from checked list"></i>
                              </span>
                              <span ng-if="item.queryStatus != 'failed'" class="badge ml-1 badge-success"
                              style="font-size:0.9em">
                              {{item.responseTimeMs | num:0}} ms
                           </span>
                           <span ng-if="item.message.length>0" class="badge ml-1 badge-warning"
                              style="font-size:0.9em">
                              {{item.message}}
                           </span>
                           <span class="ml-1" ng-if="item.queryStatus != 'failed'">
                              <i class="fa fa-database"></i> {{item.query.DSN}} <i class="fa fa-chevron-right" aria-hidden="true" style="font-size:0.8em"></i> {{item.query.SQL}}</span>
                           </div>
                        </div>
                     </auto-height>
                  </uib-tab>
               </uib-tabset>
            </td>
         </tr>
      </tbody>
   </table>
</div>