<div>
    <style>
        .tab-content {
            background-position:center;
            background-repeat:no-repeat;
            background-image:url('https://s3-ap-southeast-2.amazonaws.com/downloads.cubewise.com/web_assets/arc-pulgins/bikers-background.jpg')
        }
    </style>
    <uib-tabset active="active">
        <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
            <div class="row">
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" value="dynamic" ng-class="{'bg-info':tab.stepPercentage<100}" role="progressbar"
                            style="width: {{tab.stepPercentage}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{tab.stepPercentage}}%</div>
                    </div>
                </div>
            </div>
            <auto-height>
                <!-- TEST TRELLO-->
                <div class="row">
                    <div class="col-md-3" ng-repeat="step in tab.content" style="margin-top:10px">
                        <div class="card" ng-class="{'bg-light':step.open==true,'text-white bg-info':step.open==false && tab.stepPercentage<100,'text-white bg-success':step.open==false && tab.stepPercentage==100}">
                            <div class="card-body" style="padding:5px">
                                <div class="card-text">
                                    <h5>
                                        <input style="cursor:pointer;margin-top:5px" type="checkbox" ng-model="change" ng-change="step.open=!step.open;calculatePercentage(tab.number)"
                                            class="ng-pristine ng-untouched ng-valid ng-empty pull-right">
                                        </input>
                                        {{step.title}}
                                    </h5>
                                </div>
                                <div ng-if="step.open" ng-repeat="action in step.actions">
                                    <div class="card mb-3">
                                        <div class="card-body" style="padding:10px">
                                            <i ng-if="action.view" class="fa cubes" style="margin-right:5px"></i>
                                            <i ng-if="action.subset" class="fa subset" style="margin-right:5px"></i>
                                            <i ng-if="action.process" class="fa processes" style="margin-right:5px"></i>
                                            <i ng-if="action.chore" class="fa chores" style="margin-right:5px"></i>
                                            {{action.name}}
                                            <button ng-if="action.view" class="btn btn-dark btn-sm pull-right" title="{{action.process}}" ng-click="executeProcess(action.process)">
                                                <i class="fa fa-fw fa-link"></i>
                                                <a href="#/cube/view/{{instance}}/{{action.cube}}/{{action.view}}?name={{action.view}}" ng-click="user_clicks_branch(row.branch)"
                                                    ng-class="[row.branch.item_class]">
                                                </a>
                                            </button>
                                            <!-- OPEN A SUBSET -->
                                            <button ng-if="action.subset" class="btn btn-dark btn-sm pull-right" title="{{action.process}}" ng-click="executeProcess(action.process)">
                                                <i class="fa fa-fw fa-link"></i>
                                                <a href="#/cube/view/{{instance}}/{{action.dimension}}/{{action.hierarchy}}/{{action.subset}}?name={{action.subset}}" ng-click="user_clicks_branch(row.branch)"
                                                    ng-class="[row.branch.item_class]">
                                                </a>
                                            </button>
                                            <!-- RUN PROCESS -->
                                            <button ng-if="action.process" class="btn btn-warning btn-sm pull-right" title="{{action.process}}" ng-click="executeProcess(action.process)">
                                                <i class="fa fa-fw fa-bolt"></i>
                                            </button>
                                            <!-- RUN CHORE -->
                                            <button ng-if="action.chore" class="btn btn-warning btn-sm pull-right" title="{{action.chore}}" ng-click="executeChore(action.chore)">
                                                <i class="fa fa-fw fa-bolt"></i>
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </auto-height>
        </uib-tab>
    </uib-tabset>
</div>