<div>
    <div class="modal-header text-white bg-danger">
        <span>
            <i class="fa fa-trash"></i>
            <span>Delete the following subsets and views
            </span>
        </span>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="padding: 5px 10px;">
                        <i class="fa fa-w subset"></i> Subsets
                    </div>
                    <div class="card-body">
                        <div ng-repeat="subset in subsets">
                            {{subset.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="padding: 5px 10px;">
                        <i class="fa fa-w view"></i> Views
                    </div>
                    <div class="card-body">
                        <div ng-repeat="view in views track by $index">
                            {{view}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger action ng-scope" ng-click="closeThisDialog(1)" translate="DELETE">Delete</button>
        <button type="button" class="btn btn-default action ng-scope" ng-click="closeThisDialog(0)" translate="CANCEL">Cancel</button>
    </div>
</div>