<div>
   <div class="modal-header text-white bg-danger">
      <span>
         <i class="fa fa-trash"></i>
         <span>Delete the following subsets and views
         </span>
      </span>
   </div>
   <div class="modal-body">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header" style="padding: 5px 10px;">
                  <div ng-if="viewsDeleted.length==0">
                     <i class="fa fa-w view"></i> Views ({{views.length}})
                  </div>
                  <div ng-if="viewsDeleted.length>0">
                     <i class="fa fa-w view"></i> Views Deleted ({{viewsDeleted.length}})
                  </div>
               </div>
               <div class="card-body">
                  <div ng-if="viewsDeleted.length==0" ng-repeat="item in views track by $index">
                     <div>{{$index + 1}}.
                        <i class="fa fa-w view"></i> {{item.fullName}}
                     </div>
                  </div>
                  <div ng-if="viewsDeleted.length>0" ng-repeat="view in viewsDeleted track by $index">
                     <div class="alert alert-success" role="alert" style="padding: 5px 10px">
                        <i class="fa fa-w fa-check-square-o"></i> {{view}} has been deleted
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="margin-top:10px">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header" style="padding: 5px 10px;">
                  <div ng-if="subsets.length>0">
                     <i class="fa fa-w subset"></i> Subsets ({{subsets.length}})
                  </div>
                  <div ng-if="subsetsDeleted.length>0">
                     <i class="fa fa-w subset"></i> Subsets Deleted ({{subsetsDeleted.length}})
                  </div>
               </div>
               <div class="card-body">
                  <div ng-if="errorMessage.length>0">
                     <div class="alert alert-warning" role="alert" style="padding: 5px 10px">
                        <i class="fa fa-w fa-warning"></i> {{errorMessage}}
                     </div>
                  </div>
                  <div ng-if="subsets.length>0" ng-repeat="subset in subsets track by $index">
                     {{$index + 1}}.
                     <i class="fa fa-fw subset"></i> {{subset.name}}
                  </div>
                  <div ng-if="subsetsDeleted.length>0" ng-repeat="subset in subsetsDeleted track by $index">
                     <div class="alert alert-success" role="alert" style="padding: 5px 10px">
                        <i class="fa fa-w fa-check-square-o"></i> {{subset}} has been deleted
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="modal-footer">
      <button ng-if="views.length>0" type="button" class="btn btn-danger action ng-scope" ng-click="deleteViewsAndSubsets()" translate="DELETE">Delete</button>
      <button type="button" class="btn btn-default action ng-scope" ng-click="closeThisDialog(0)" translate="CANCEL">Cancel</button>
   </div>
</div>