<div class="execute-command">

	<div class="toolbar">
		<div class="btn-toolbar">
			<div class="btn-group">
				<button ng-disabled="saving || executing || loading" class="btn btn-secondary"
					title="{{'SAVESHORTCUT' | translate}}" ng-click="save()">
					<i ng-if="!saving" class="fa fa-fw fa-save"></i>
					<i ng-if="saving" class="fa fa-refresh fa-spin"></i>
				</button>
				<button ng-disabled="saving || executing || loading" class="btn btn-secondary" title="{{'EXECUTE' | translate}}"
					ng-click="execute()">
					<i class="fa fa-fw fa-bolt"></i>
				</button>
			</div>
		</div>
	</div>
	
	<div>
		<auto-height>
			<div style="width: 500px;">
				<div class="row mt-2">
					<div class="col-lg-4 text-right">
						<label translate="CUBE"></label>
					</div>
					<div class="col-lg-8">
						<input class="form-control" ng-disabled="executing" placeholder="{{'CUBE' | translate}}" type="text" ng-model="data.cube" spellcheck="false" autofocus >
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-lg-4 text-right">
						<label translate="SCRIPT"></label>
					</div>
					<div class="col-lg-8">
						<input class="form-control" ng-disabled="executing" placeholder="{{'SCRIPT' | translate}}" type="text" ng-model="data.script" spellcheck="false" autofocus >
					</div>
				</div>
			</div>
			<pre class="mt-4" ng-if="output">{{output | json}}</pre>
			<pre class="mt-4">{{stdout}}</pre>
		</auto-height>
	</div>

</div>