<div class="tm1-threads">
  
  <div class="toolbar">  

    <label class="page-title">
      <i class="fa fa-users"></i> {{instance | uppercase}}:<span translate="THREADS"></span>
    </label>

    <div class="btn-toolbar pull-right">
      <button class="btn btn-warning" ng-if="message">
          <span class="fa fa-warning" aria-hidden="true"></span> <span>{{message}}</span>
      </button>
      <div class="input-group">
          <span class="input-group-prepend">
            <span class="input-group-text">
              {{now | date:'mediumTime'}}
            </span>
          </span>
        <input type="text" ng-model="selections.filter" placeholder="{{'SEARCH' | translate}}" class="form-control" style="display:inline; width: 200px;" />
        <span class="input-group-append">
          <button class="btn btn-secondary" ng-class="{'btn-active': activeOnly}" title="{{'ACTIVEONLY' | translate}}" ng-click="toggleActiveOnly()">
            <i class="fa fa-fw fa-cogs"></i>
          </button>
        </span>
        <span class="input-group-append">
          <button class="btn btn-secondary" ng-class="{'btn-active': isPaused}" title="{{'PAUSE' | translate}}" ng-click="togglePaused()">
            <i class="fa fa-fw fa-pause" ng-if="!isPaused"></i>
            <i class="fa fa-fw fa-play" ng-if="isPaused"></i>
          </button>
        </span>
        <span class="input-group-append">
          <button ng-disabled="!selections.filter.length" class="btn btn-secondary" title="{{'CLEAR' | translate}}" ng-click="selections.filter = ''">
            <i class="fa fa-fw fa-remove"></i>
          </button>
        </span>
      </div>
    </div>
    
  </div>
  
  <auto-height>

    <div class="card">
      <div class="card-body">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th style="width: 30px;" translate="ID"></th>
              <th translate="TYPE" ></th>
              <th translate="NAME" ></th>
              <th translate="STATE" ></th>
              <th translate="FUNCTION" ></th>
              <th translate="OBJECTTYPE" ></th>
              <th translate="OBJECTNAME" ></th>
              <th class="text-center" translate="ELAPSEDTIME" ></th>
              <th class="text-center" translate="WAITTIME" ></th>
              <th translate="CONTEXT" ></th>
              <th translate="INFO" ></th>
              <th class="text-center" translate="CANCEL" ></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in threads | filter:listFilter track by item.ID">
              <td style="width: 30px;">{{item.ID}}</td>
              <td>{{item.Type}}</td>
              <td>{{item.Name}}</td>
              <td>{{item.State}}</td>
              <td>{{item.Function}}</td>
              <td>{{item.ObjectType}}</td>
              <td>{{item.ObjectName}}</td>
              <td class="text-center">{{item.ElapsedTimeS}}</td>
              <td class="text-center">{{item.WaitTimeS}}</td>
              <td>{{item.Context}}</td>
              <td>{{item.Info}}</td>
              <td class="text-center">
                <button class="btn btn-warning btn-sm" ng-disabled="!item.canCancel" ng-click="cancelThread(item.ID)"><i class="fa fa-minus-circle"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </auto-height>
  
</div>