<div class="h-100 d-flex flex-column">

  <style scoped ng-bind-html="connectionIconStyleText"></style>

  <div class="btn-toolbar">
    <!-- Bulk actions toolbar group -->
    <div class="input-group btn-group btn-group-sm input-group-sm">
      <button class="btn btn-secondary" title="{{'NEW' | translate}}" ng-click="createConnection()">
        <i class="fa fa-fw fa-plus"></i>
      </button>
      <button class="btn btn-secondary" title="{{'LOGOUT' | translate}}" ng-click="logout()" ng-disabled="isLoading">
        <i class="fa fa-fw fa-sign-out"></i>
      </button>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm">
      <span class="input-group-prepend">
        <div class="btn btn-secondary">
          <i class="fa fa-fw fa-filter"></i>
        </div>
      </span>
      <span class="input-group-append">
        <input class="form-control form-control-sm rounded-right" id="connectionsFilter" style="border-radius: 0px;"
          ng-model="settings.filter['Connection Name']" ng-model-options="{ debounce: 500 }"
          placeholder="{{'ATMOSPHEREPLACEHOLDERFILTERCONNECTIONS' | translate}}" title="{{'FILTER' | translate}}"
          spellcheck="false">
        <button type="button" class="btn btn-transparent" style="margin-left: -28px; z-index: 100;"
          ng-disabled="!settings.filter['Connection Name']" ng-click="settings.filter['Connection Name']=''">
          <i class="fa fa-close" title="{{'CLEAR' | translate}}"></i>
        </button>
      </span>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm">
      <span class="input-group-prepend">
        <span class="input-group-text font-weight-bold" translate="ATMOSPHERECONNECTIONCREATETITLETYPE"
          ng-class="settings.filter['Connection Type'].length > 0 ? 'btn-success' : ''"></span>
      </span>
      <button class="btn btn-secondary" ng-repeat="connectionIcon in connectionIcons"
        ng-click="toggleConnectionType(connectionIcon.connectionType)"
        ng-style="connectionIconStyles[connectionIcon.connectionType].borderStyle">
        <i class="fa fa-fw"
          ng-class="connectionIcon.icon.pngPath ? connectionIcon.connectionType : [ connectionIcon.icon.faClass, connectionIcon.connectionType ] "></i>
        <i class="fa fa-fw fa-check fa-mark text-dark" ng-show="connectionIcon.checked"></i>
      </button>
    </div>

    <div class="input-group btn-group btn-group-sm input-group-sm">
      <button class="btn btn-secondary" title="{{'REFRESH' | translate}}" ng-disabled="isLoading"
        ng-click="refreshData()">
        <i class="fa fa-fw fa-refresh" ng-class="{ 'fa-spin': isLoading }"></i>
      </button>
    </div>
  </div>

  <div class="flex-grow-1 text-center" ng-if="isLoading">
    <i class="fa fa-refresh fa-spin fa-fw fa-3x" style="margin-top: 50px;"></i>
  </div>

  <div class="flex-grow-1 text-center" ng-if="!isLoading && data.itemNum === 0">
    <i class="fa fa-exclamation-triangle fa-fw fa-3x" style="margin-top: 50px;"></i>
  </div>

  <div class="flex-grow-1" ng-if="!isLoading && data.itemNum > 0" style="overflow-y: scroll;">
    <table class="table table-sm table-striped table-hover table-vertical-align-middle table-text-bright">
      <thead>
        <tr>
          <th ng-repeat="column in settings.columns | filter: {display:true}"
            ng-style="column.width > 0 ? {'width': column.width + 'px'} : column.width < 0 ? {'width': '1%', 'text-wrap': 'nowrap'} : { 'width': 'auto', 'text-wrap': 'nowrap'} ">
            <a href class="btn btn-sm" ng-click="sortBy(column.key)">
              {{ column.translateKey | translate}}
              <i ng-if="settings.sortColumn.key === column.key && !settings.sortColumn.direction"
                class="fa fa-fw fa-sort-amount-asc"></i>
              <i ng-if="settings.sortColumn.key === column.key && settings.sortColumn.direction"
                class="fa fa-fw fa-sort-amount-desc"></i>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="connection in data.items | filterMultiple: settings.filter | orderBy: settings.sortColumn.key : settings.sortColumn.direction | limitTo : settings.pageState.itemsPerPage : (settings.pageState.currentPage - 1) * settings.pageState.itemsPerPage track by $index">
          <td>
            <span class="btn btn-sm btn-no-click py-0">
              {{connection['Connection Name']}}
            </span>
          </td>
          <td>
            <span class="btn btn-sm btn-no-click ml-1" ng-style="connectionIconStyles[connection['Connection Type']].borderStyle">
              <i class="fa fa-fw mr-1" ng-if="connectionIcons[connection['Connection Type']].icon.faClass"
                ng-class="connectionIcons[connection['Connection Type']].icon.faClass"></i>
              <i class="fa fa-fw mr-1" ng-if="connectionIcons[connection['Connection Type']].icon.pngPath"
                ng-class="connection['Connection Type']"></i>
              {{connection['Connection Type']}}
              <i class="fa fa-search click ml-1"
                ng-if="settings.filter['Connection Type'].indexOf(connection['Connection Type']) === -1"
                ng-click="toggleConnectionType(connection['Connection Type'])"
                ng-style="connectionIconStyles[connection['Connection Type']].searchIconStyle"
                title="{{'ATMOSPHERECONNECTIONADDCONNECTIONFILTER' | translate}}"></i>
              <i class="fa fa-remove click ml-1"
                ng-if="settings.filter['Connection Type'].indexOf(connection['Connection Type']) > -1"
                ng-click="toggleConnectionType(connection['Connection Type'])"
                ng-style="connectionIconStyles[connection['Connection Type']].searchIconStyle"
                title="{{'ATMOSPHERECONNECTIONREMOVECONNECTIONFILTER' | translate}}"></i>
            </span>
          </td>
          <td>
            <span ng-if="connection['Connection Type'] === 'tm1'" class="text-nowrap">
              <div class="btn-group pr-3">
                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="true">
                  <span class="mr-4 d-inline-block">
                    {{ $root.uiPrefs.atmosphereConnections[connection['Connection Name']] ?
                    $root.uiPrefs.atmosphereConnections[connection['Connection Name']] : '--' }}
                  </span>
                </button>
                <button class="btn btn-sm btn-transparent p-0"
                  style="position: relative; margin-left: -36px; z-index: 100;"
                  ng-click="clearConnectionInstance(connection)"
                  ng-disabled="!$root.uiPrefs.atmosphereConnections[connection['Connection Name']]">
                  <i class="fa fa-fw fa-remove"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-flex click">
                  <div class="dropdown-menu-header mx-1 mb-2">
                    <input type="text" class="form-control form-control-sm w-100" ng-model="searchFilter['Name']"
                      placeholder="Search">
                  </div>
                  <div class="dropdown-menu-content">
                    <span ng-repeat="instance in instances | filter: searchFilter"
                      ng-click="setConnectionInstance(connection, instance.Name);"
                      class="dropdown-item pt-0 pb-0 pl-2 pr-2" href="#">
                      <span>{{instance.Name}}</span>
                    </span>
                  </div>
                </div>
              </div>
              <button class="btn btn-sm btn-secondary position-relative pull-right"
                ng-if="!$root.uiPrefs.atmosphereConnections[connection['Connection Name']]">
                <i class="fa fa-fw fa-asterisk text-danger"></i>
              </button>
              <button class="btn btn-sm btn-secondary position-relative pull-right"
                ng-if="$root.uiPrefs.atmosphereConnections[connection['Connection Name']]"
                ng-click="goToPortal(connection['Connection Name'])"
                title="{{'ATMOSPHERECONNECTIONGOTO' | translate}}">
                <i class="fa fa-fw fa-globe"></i>
                <i class="fa fa-fw fa-arrow-right fa-mark text-primary"></i>
              </button>
            </span>
            <span ng-if="connection['Connection Type'] !== 'tm1'" class="text-nowrap">
              <div class="btn-group pr-3">
                <span class="btn btn-sm btn-no-click">
                  <span class="mr-4 d-inline-block">--</span>
                </span>
              </div>
            </span>
          </td>
          <td>
            <span class="pull-right">
              <button class="btn btn-sm btn-secondary"
                title="{{ ($root.uiPrefs.atmosphereConnectionResult[connection['Connection Name']].message ? $root.uiPrefs.atmosphereConnectionResult[connection['Connection Name']].message : 'ATMOSPHERETITLECONNECTIONTEST'  | translate )}}"
                ng-click="testConnection(connection)"
                ng-disabled="!testFunctionMapping || !testFunctionMapping[connection['Connection Type']] || $root.uiPrefs.atmosphereConnectionResult[connection['Connection Name']].status == 'testing'"
                ng-class="{ 'text-danger': $root.uiPrefs.atmosphereConnectionResult[connection['Connection Name']].status == 'fail', 'text-success': $root.uiPrefs.atmosphereConnectionResult[connection['Connection Name']].status == 'success' }">
                <i class="fa fa-fw"
                  ng-class="{ 'fa-wifi': $root.uiPrefs.atmosphereConnectionResult[connection['Connection Name']].status != 'testing', 'fa-refresh': $root.uiPrefs.atmosphereConnectionResult[connection['Connection Name']].status == 'testing', 'fa-spin': $root.uiPrefs.atmosphereConnectionResult[connection['Connection Name']].status == 'testing' }"></i>
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <arc-data-pager page-state="settings.pageState" on-page-changed="pageChanged" options="settings.pageOptions"
    small="true"></arc-data-pager>
</div>