<div>
  <div ng-if="isLoading" class="text-center" style="margin-top: 50px;">
    <i class="fa fa-refresh fa-spin fa-5x"></i>
  </div>
  <div ng-if="!isLoading">
    <div class="form-group mb-0">
      <label>{{'ATMOSPHERECONNECTIONCREATETITLENAME' | translate}}</label>
      <input class="form-control" ng-disabled="true" ng-model="data.connection">
    </div>
    <div class="form-group mb-0">
      <label>{{'ATMOSPHERECONNECTIONPROCESSTITLEFUNCTIONNAME' | translate}}</label>
      <select class="form-control editor-select" ng-model="data.functionName">
        <option value="">all</option>
        <option value="{{function['Function Name']}}" ng-repeat="function in data.functions track by $index">
          {{function['Function Name']}}</option>
      </select>
    </div>
    <div class="form-group mb-0">
      <label>{{'ATMOSPHERECONNECTIONPROCESSTITLEUPDATE' | translate}}</label>
      <input type="checkbox" ng-model="data.update">
    </div>
    <div class="form-group mb-0">
      <label>{{'ATMOSPHERECONNECTIONPROCESSTITLEDOMAIN' | translate}}</label>
      <input class="form-control" type="text" ng-model="data.domain" ng-disabled="data.domain" />
    </div>
    <div class="form-group mb-0" ng-if="data.needApiKey">
      <label>{{'ATMOSPHERECONNECTIONPROCESSTITLEAPIKEY' | translate}}</label>
      <input class="form-control" placeholder="" type="password" ng-model="data.apiKey">
    </div>
    <div class="form-group pt-4" ng-if="unsuccessful">
      <div class="alert alert-danger">
        <div translate="CREATEUNSUCCESSFUL"></div>
        <div ng-if="message.length">{{message}}</div>
      </div>
    </div>
  </div>
</div>