<div>
  <div ng-if="isLoading" class="text-center" style="margin-top: 50px;">
    <i class="fa fa-refresh fa-spin fa-5x"></i>
  </div>
  <div ng-if="!isLoading">
    <div class="form-group mb-0">
      <label>{{'ATMOSPHEREUPDATELICENSETITLEJSON' | translate}}</label>
      <div class="row">
        <div class="col-md-12">
          <textarea class="form-control" ng-model="data.jsonValue" ng-disabled="executing" rows="12" placeholder="{{'ATMOSPHEREUPDATELICENSETITLEJSONHINT' | translate}}"
          (keydown)="triggerFunction($event);$event.preventDefault();">
          </textarea>
        </div>
        <div class="col-md-12" ng-show="jsonValidateMessage != ''">
          <div class="alert alert-danger">{{jsonValidateMessage}}</div>
          <!-- <json-formatter json="data.jsonValueObj" open="1"></json-formatter> -->
        </div>
      </div>      
    </div>    
    <div class="form-group pt-4" ng-if="unsuccessful">
      <div class="alert alert-danger">
        <div translate="CREATEUNSUCCESSFUL"></div>
        <div ng-if="message.length">{{message}}</div>
      </div>
    </div>
  </div>
</div>