<div>
  <div ng-if="isLoading" class="text-center" style="margin-top: 50px;">
    <i class="fa fa-refresh fa-spin fa-5x"></i>
  </div>
  <div ng-if="!isLoading">
    <div class="form-group py-2">
      <small translate="ATMOSPHERELOGINDESCRIPTION" class="text-muted font-weight-bold"></small>
    </div>
    <div class="form-group mb-0">
      <input class="form-control" ng-disabled="executing" placeholder="{{'APIKEY' | translate}}"
        ng-keyup="$event.keyCode == 13 && login()" type="password" ng-model="data.credentials.apiKey" spellcheck="false"
        set-focus>
    </div>
    <div class="form-group py-2">
      <span class="form-check text-right pull-right">
        <label class="form-check-label" for="atmosphere-credential-store">
          <input class="form-check-input" type="checkbox" ng-disabled="executing" id="atmosphere-credential-store"
            ng-model="$root.uiPrefs.atmosphereStoreCredentials">
          <span translate="SAVE"></span>
        </label>
      </span>
    </div>
    <div class="form-group pt-4" ng-if="unsuccessful">
      <div class="alert alert-danger">
        <div translate="LOGINUNSUCCESSFUL"></div>
        <div ng-if="message.length">{{message}}</div>
      </div>
    </div>
  </div>
</div>