<div class="mdx">
    <style>
        .popover-class-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        .popover-class-warning {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }
    </style>
    <!--SEARCH SUBSET BY DIMENSION-->


    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Subsets per Views">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-toolbar pull-right">
                                <div class="input-group">
                                    <input type="text" ng-model="select.filterallSubsetsPerView" placeholder="Search" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                        style="display:inline; width: 200px;">
                                    <span class="input-group-append">
                                        <button ng-disabled="saving || !toDelete.length" class="btn btn-danger" title="Delete" ng-click="deleteObjects()" disabled="disabled">
                                            <i class="fa fa-fw fa-trash"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <auto-height>
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center"> </th>
                                            <th class="text-center"> View </th>
                                            <th class="text-center"> Subset on Row</th>
                                            <th class="text-center"> Subset on Column</th>
                                            <th class="text-center"> Subset on Title </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in lists.allSubsetsPerView | filter:select.filterallSubsetsPerView">
                                            <td>
                                                <input type="checkbox" ng-disabled="item.chores.length" ng-model="item.change" ng-change="toggleDelete(item)" class="ng-pristine ng-untouched ng-valid ng-empty"
                                                    uib-popover="Delete item" popover-append-to-body="true" popover-trigger="'mouseenter'"
                                                    popover-class="popover-class-danger">
                                            </td>
                                            <td>
                                                {{item.name}}
                                            </td>
                                            <td>
                                                <button ng-repeat="subset in item.subsetsRow" type="button" class="badge ml-1" ng-style="generateHSLColour(subset)"
                                                    ng-click="">
                                                    <i class="fa fa-close" uib-popover="Remove subset {{subset}} from view: {{item.name}}" popover-append-to-body="true"
                                                        popover-trigger="'mouseenter'" popover-class="popover-class-danger"></i>
                                                    {{subset}}
                                                </button>
                                            </td>
                                            <td>
                                                <button ng-repeat="subset in item.subsetsColumn" type="button" class="badge ml-1" ng-style="generateHSLColour(subset)"
                                                    ng-click="">
                                                    <i class="fa fa-close" uib-popover="Remove subset {{subset}} from view: {{item.name}}" popover-append-to-body="true"
                                                        popover-trigger="'mouseenter'" popover-class="popover-class-danger"></i>
                                                    {{subset}}
                                                </button>
                                            </td>
                                            <td>
                                                <button ng-repeat="subset in item.subsetsTitle" type="button" class="badge ml-1" ng-style="generateHSLColour(subset)"
                                                    ng-click="">
                                                    <i class="fa fa-close" uib-popover="Remove subset {{subset}} from view: {{item.name}}" popover-append-to-body="true"
                                                        popover-trigger="'mouseenter'" popover-class="popover-class-danger"></i>
                                                    {{subset}}
                                                </button>   
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </auto-height>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Views per Subsets">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-toolbar pull-right">
                                <div class="input-group">
                                    <input type="text" ng-model="select.filterallViewsPerSubset" placeholder="Search" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                        style="display:inline; width: 200px;">
                                    <span class="input-group-append">
                                        <button ng-disabled="saving || !toDelete.length" class="btn btn-danger" title="Delete" ng-click="deleteObjects()" disabled="disabled">
                                            <i class="fa fa-fw fa-trash"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <auto-height>
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center"> </th>
                                            <th class="text-center"> Subset </th>
                                            <th class="text-center"> View </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in lists.allViewsPerSubset | filter:select.filterallViewsPerSubset">
                                            <td>
                                                <input type="checkbox" ng-disabled="item.chores.length" ng-model="item.change" ng-change="toggleDelete(item)" class="ng-pristine ng-untouched ng-valid ng-empty"
                                                    uib-popover="Delete subset" popover-append-to-body="true" popover-trigger="'mouseenter'"
                                                    popover-class="popover-class-danger">
                                            </td>
                                            <td>
                                                {{item.name}}
                                            </td>
                                            <td>
                                                <button ng-repeat="view in item.views" type="button" class="badge ml-1" ng-style="generateHSLColour(view)" style="cursor:default;"
                                                    ng-click="">
                                                    <i class="fa fa-close" uib-popover="Remove subset: {{item.name}} from view: {{view}}" popover-append-to-body="true"
                                                        popover-trigger="'mouseenter'" popover-class="popover-class-danger"></i>
                                                    {{view}}
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </auto-height>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>


</div>