<div class="mdx">

   <div class="input-group mb-1">
      <span class="input-group-prepend" uib-dropdown dropdown-append-to-body>
         <button class="btn btn-primary" uib-dropdown-toggle>
            <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
            <li role="menuitem" class="font-weight-bold">
               <span translate="EXECUTEMDXSAMPLES"></span>
            </li>
            <li role="menuitem" ng-repeat="item in lists.ExecuteMDX">
               <div ng-click="options.mdx = item.query" style="margin-left:10px;cursor:pointer">
                  <span class="badge {{item.badge}}">{{item.name}} </span> {{item.query}}
               </div>
            </li>
            <li role="menuitem" class="font-weight-bold">
               <span translate="EXECUTEMDXSETEXPRESSIONSAMPLES"></span>
            </li>
            <li role="menuitem" ng-repeat="item in lists.ExecuteMDXSetExpression">
               <div ng-click="options.mdx = item.query" style="margin-left:10px;cursor:pointer">
                  <span class="badge {{item.badge}}">{{item.name}} </span> {{item.query}}
               </div>
            </li>
         </ul>
      </span>
      <span class="input-group-prepend">
         <span class="input-group-text" translate="NAME"></span>
      </span>
      <input type="text" class="form-control" ng-model="options.name" 
      placeholder="{{'QUERYNAME' | translate}}" style="width:60%" autocomplete="off">
      <span class="input-group-prepend">
         <span class="input-group-text ng-scope" translate="MAXROWS"></span>
      </span>
      <input type="number" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty input-group-append" ng-model="maxRows"
         placeholder="{{'MAXROWS' | translate}}" style="width: 70px">
      <span class="input-group-append">
         <button ng-click="execute()" class="btn btn-secondary" title="{{'EXECUTE' | translate}}">
            <i ng-if="!executing" class="fa fa-fw fa-bolt"></i>
            <i ng-if="executing" class="fa fa-refresh fa-spin"></i>
         </button>
      </span>
   </div>
   <pre ui-ace="{ onLoad : editorLoaded }" ng-model="options.mdx" ng-style="{'max-height': $root.uiPrefs.mdxSplitter}" auto-height auto-height-options="{noScroll: true, watchTab: true}"></pre>
   <div ng-bind-html="mdx.mdx" style="overflow-y: auto;"></div>
   <div class="horizontal-splitter" ng-mousedown="splitDown($event)"></div>
   <uib-tabset active="currentTabIndex">
      <uib-tab index="0">
         <uib-tab-heading>
            <span translate="RESULT"></span>
         </uib-tab-heading>
         <div class="row" ng-if="executing">
            <div class="col-12 text-center pt-2">
               <i class="fa fa-refresh fa-5x fa-spin"></i>
            </div>
         </div>
         <div class="card" ng-if="!executing">
            <div class="card-header p-2">
               <span>
                  <i class="fa fa-table"></i>
                  <span translate="RESULT"></span>
                  <span ng-if="!options.message"> - <span translate="RUNIN"></span> <span>{{options.responseTimeMs | num:0}} ms</span></span>
                  <button class="btn btn-sm btn-warning text-left" ng-if="options.message" >
                     <span class="fa fa-warning" translate="FAILED"></span>
                  </button>
               </span>
               <div class="pull-right">
                  <span>
                     <input type="radio" ng-model="options.resultType" ng-disabled="options.message" value="table" />
                     <span>Table</span>
                  </span>
                  <span>
                     <input type="radio" ng-model="options.resultType" ng-disabled="options.message" value="json-tree" />
                     <span>JSON Tree</span>
                  </span>
                  <span>
                     <input type="radio" ng-model="options.resultType" ng-disabled="options.message" value="json" />
                     <span>JSON</span>
                  </span>
                  <span>
                     <input type="radio" ng-model="options.resultType" ng-disabled="options.message" value="hjson" />
                     <span>HJSON</span>
                  </span>
               </div>
               <div ng-if="!options.message && options.queryType==='ExecuteMDXSetExpression'" class="pull-right">
                  <a href class="click" ng-click="options.showUniqueName = !options.showUniqueName">
                     <i class="fa fa-toggle-on" ng-if="options.showUniqueName"></i>
                     <i class="fa fa-toggle-off" ng-if="!options.showUniqueName"></i>
                     <span translate="UNIQUENAME"></span>
                  </a>
                  <a href class="click" ng-click="options.showAttributes = !options.showAttributes">
                     <i class="fa fa-toggle-on" ng-if="options.showAttributes"></i>
                     <i class="fa fa-toggle-off" ng-if="!options.showAttributes"></i>
                     <span class="text-info" translate="Attributes"> </span>
                  </a>
                  <span class="px-2"> | </span>
               </div>
            </div>
            <div class="card-body px-2 py-0">
               <auto-height>
                  <div ng-if="options.message">
                     <span class="text-left">{{options.message}}</span>
                  </div>
                  <div ng-if="!options.message">
                     <json-formatter ng-if="options.resultType == 'json-tree'" json="result.json" open="1"></json-formatter>
                     <pre ng-if="options.resultType == 'json'" >{{result.json | json}}</pre>
                     <pre ng-if="options.resultType == 'hjson'" >{{result.json | hjson}}</pre>
                     <div ng-if="options.resultType == 'table'">
                        <!-- =======================-->
                        <!-- Table for cube query-->
                        <table class="table table-sm" ng-if="result.mdx!='dimension'">
                           <thead>
                              <tr ng-repeat="row in result.table.headers">
                                 <th ng-repeat="col in row.rows" ng-if="col.visible" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-left">
                                    {{col.dimension}}
                                 </th>
                                 <th ng-repeat="col in row.columns" ng-if="col.visible" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-right">
                                    {{col.name}}
                                 </th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr ng-repeat="row in result.table.rows | limitTo : maxRows">
                                 <td ng-repeat="el in row.elements" class="text-left" style="margin-right:5px;">
                                    </i>
                                    {{el.name}}
                                 </td>
                                 <td ng-repeat="cell in row.cells" class="text-right">
                                    <input ng-if="!cell.isReadOnly" type="text" class="form-control text-right" style="padding: 1px 5px;" ng-model="cell.value"
                                       ng-blur="cell.update(query);" autocomplete="off"/>
                                    <span ng-if="cell.isReadOnly">{{cell.value | num:2}}</span>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <!-- =======================-->
                        <!-- Table for dimension query-->
                        <table class="table table-sm" ng-if="result.mdx=='dimension'">
                           <thead>
                              <th style="width: 50px;" translate="TUPLE"></th>
                              <th translate="ID"></th>
                              <th ng-repeat="member in result.table[0].Members track by $index">
                                 <span translate="MEMBER"></span> {{$index+1}}
                              </th>
                           </thead>
                           <tbody >
                              <tr ng-repeat-start="tuple in result.table track by $index | limitTo : maxRows" style="border-bottom-width: 2px !important;">
                                 <td><strong>{{$index+1}}</strong></td>
                                 <td class="text-primary" translate="NAME"></td>
                                 <td class="text-primary" ng-repeat="member in tuple.Members">
                                    {{member.Name}}
                                 </td>
                              </tr>
                              <tr ng-if="options.showUniqueName">
                                 <td></td>
                                 <td translate="UNIQUENAME"></td>
                                 <td ng-repeat="member in tuple.Members">
                                    {{member.UniqueName}}
                                    </td>
                              </tr>
                              <tr ng-repeat-end="" ng-if="options.showAttributes" ng-repeat="attributeName in tuple.attributeList">
                                 <td ></td>
                                 <td class="text-info">{{attributeName}}</td>
                                 <td class="text-info" ng-repeat="member in tuple.Members">
                                    {{member.Attributes[attributeName]}}
                                 </td>
                              </tr>
                           </tbodyng-repeat-end="">
                        </table>
                     </div>
                  </div>
               </auto-height>
            </div>
         </div>
      </uib-tab>
      <uib-tab index="1">
         <uib-tab-heading>
            <span translate="HISTORY"></span> <span ng-if="$root.uiPrefs.mdxHistory.length>0">({{$root.uiPrefs.mdxHistory.length}})</span>
         </uib-tab-heading>
         <auto-height>
            <span ng-if="$root.uiPrefs.mdxChecked.length>0">
               <i class="click fa" ng-class="{'fa-minus-square-o':$root.uiPrefs.showMDXChecked,'fa-plus-square-o':!$root.uiPrefs.showMDXChecked}" ng-click="$root.uiPrefs.showMDXChecked=!$root.uiPrefs.showMDXChecked"></i>
               <span translate="PINNED"></span> ({{$root.uiPrefs.mdxChecked.length}})
            </span>
            <div ng-repeat="item in $root.uiPrefs.mdxChecked" ng-if="$root.uiPrefs.showMDXChecked"
               ng-class="{'func-active': indexTiFunctions === $index}">
               <div class="mt-1 mb-1 ml-2" style="white-space:nowrap;">
                  <span ng-if="item.bookmark" ng-click="removeOneQueryFromChecked('mdxChecked',$index,item.uniqueID)">
                     <i class="click fa fa-check-square text-info" title="{{'UNPIN' | translate}}"></i>
                  </span>
                  <span ng-click="moveOneQuery(item, $index, 'up')">
                     <i class="click fa fa-chevron-circle-up text-info" title="{{'MOVEUP' | translate}}"></i>
                  </span>
                  <span ng-click="moveOneQuery(item, $index, 'down')">
                     <i class="click fa fa-chevron-circle-down text-info" title="{{'MOVEDOWN' | translate}}"></i>
                  </span>
                  <span ng-if="item.queryStatus == 'success'" class="badge ml-1 badge-success"
                     style="font-size:0.9em">
                     {{item.responseTimeMs | num:0}} ms
                  </span>
                  <span>
                     <label ng-if="item.name.length>0">{{item.name}}</label>
                  </span>
               <span ng-if="item.message.length>0" class="badge ml-1 badge-warning"
                  style="font-size:0.9em">
                  {{item.message}}
               </span>
                  <span ng-click="updateCurrentQuery(item)" class="click">{{item.mdx}}</span>
               </div>
            </div>
            <span ng-if="$root.uiPrefs.mdxHistory.length>0">
               <i class="click fa" ng-class="{'fa-minus-square-o':$root.uiPrefs.showMDXHistory,'fa-plus-square-o':!$root.uiPrefs.showMDXHistory}" ng-click="$root.uiPrefs.showMDXHistory=!$root.uiPrefs.showMDXHistory"></i>
               <span translate="ALL"></span> ({{$root.uiPrefs.mdxHistory.length}})
               <a href="" ng-if="$root.uiPrefs.mdxHistory.length>0" title="{{'CLEAR' | translate}}"
                  ng-click="clearMDXHistory()" ng-disabled="!$root.uiPrefs.mdxHistory.length">
                  <i class="fa fa-fw fa-trash text-danger"></i>
               </a>
            </span>
            <div ng-repeat="item in $root.uiPrefs.mdxHistory" ng-if="$root.uiPrefs.showMDXHistory"
               ng-class="{'func-active': indexTiFunctions === $index}">
               <div class="click mt-1 mb-1 ml-2" ng-click="updateCurrentQuery(item)" style="white-space:nowrap;">
                  <span ng-click="removeOneQuery(item, $index)">
                     <i class="fa fa-fw fa-trash text-danger" title="{{'REMOVE' | translate}}"></i>
                  </span>
                  <span ng-if="!item.bookmark" ng-click="moveOneQuery(item, $index, 'top')">
                     <i class="fa fa-square-o text-info" title="{{'PIN' | translate}}"></i>
                  </span>
                  <span ng-if="item.bookmark" ng-click="removeOneQueryFromChecked('mdxHistory',$index,item.uniqueID)">
                     <i class="fa fa-check-square text-info" title="{{'UNPIN' | translate}}"></i>
                  </span>
                  <span ng-if="item.queryStatus == 'success'" class="badge ml-1 badge-success" style="font-size:0.9em">
                  {{item.responseTimeMs | num:0}} ms
               </span>
                  <span>
                     <label ng-if="item.name.length>0">{{item.name}}</label>
                  </span>
               <span ng-if="item.message.length>0" class="badge ml-1 badge-warning" style="font-size:0.9em">
                  {{item.message}}
               </span>
                  <span>{{item.mdx}}</span>
               </div>
            </div>
         </auto-height>
      </uib-tab>
   </uib-tabset>

</div>