<div class="mdx">
  
  <div class="toolbar">  

    <label class="page-title">
      <i class="fa fa-table"></i> {{instance | uppercase}}:<span translate="MDX"></span>
    </label>

    <div class="btn-toolbar pull-right">
        <button class="btn btn-warning" ng-if="message">
            <span class="fa fa-warning" aria-hidden="true"></span> <span>{{message}}</span>
        </button>
        <div class="btn-group">
          <button class="btn btn-secondary" title="{{'ADDTAB' | translate}}" ng-click="addTab()">
            <i class="fa fa-fw fa-plus"></i>
          </button>
          <button class="btn btn-warning" title="{{'EXECUTE' | translate}}" ng-click="execute()">
            <i class="fa fa-fw fa-bolt"></i>
          </button>
        </div>
      </div>     
    </div>

    <uib-tabset active="selections.activeTab">

      <uib-tab ng-repeat="tab in tabs" select="tabSelected()">
        <uib-tab-heading>
          {{tab.name}}
          <a href class="click" ng-click="closeTab($index)">
            <i class="fa fa-fw fa-close"></i>
          </a>
        </uib-tab-heading>
        <div>
          <div class="card" style="margin-bottom: 5px;" >
            <div class="card-header" style="padding: 5px 10px;" ng-click="toggleQuery(tab)">
              <span>{ }</span> <span translate="QUERY"></span>
              <div class="pull-right">
                <a href ng-click="tab.hideQuery = !tab.hideQuery">
                  <i class="fa fa-toggle-on" ng-if="!tab.hideQuery" ></i>
                  <i class="fa fa-toggle-off" ng-if="tab.hideQuery" ></i>
                </a>
              </div>
            </div>
            <div class="card-body" style="padding: 5px;" ng-if="!tab.hideQuery">
              <div class="input-group mb-1" >
                <div class="input-group-prepend">
                  <span class="input-group-text" translate="NAME"></span>
                </div>
                <input type="text" class="form-control" ng-model="tab.name">
              </div>
              <pre ui-ace="{ onLoad : editorLoaded }" ng-model="tab.mdx" style="height: 200px;"></pre>
            </div>
          </div>

          <div ng-if="tab.executing" style="padding-top: 20px;">
            <i class="fa fa-refresh fa-spin fa-fw fa-2x" ></i>
          </div>

          <div class="card" ng-if="tab.result">
            <div class="card-header" style="padding: 5px 10px;">
              <i class="fa fa-table"></i> <span translate="RESULT"></span>
              <div class="pull-right">
                  <a href class="click" ng-click="tab.showJSON = !tab.showJSON">
                  <i class="fa fa-toggle-on" ng-if="tab.showJSON" ></i>
                  <i class="fa fa-toggle-off" ng-if="!tab.showJSON" ></i> 
                  <span translate="JSON"></span>
                </a>
              </div>
            </div>
            <div class="card-body" style="padding: 5px 0px 0px 5px;">
                <auto-height>
                  <json-formatter ng-if="tab.showJSON" json="tab.result.json" open="1"></json-formatter>
                  <table class="table table-sm" ng-if="!tab.showJSON" >
                      <thead>
                        <tr ng-repeat="row in tab.result.table.headers">
                          <th ng-repeat="col in row.rows" ng-if="col.visible" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-left" >
                            {{col.dimension}}
                          </th>
                          <th ng-repeat="col in row.columns" ng-if="col.visible" colspan="{{col.colspan}}" rowspan="{{col.rowspan}}" class="text-right" >
                            {{col.name}}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="row in tab.result.table.rows" >
                          <td ng-repeat="el in row.elements" class="text-left" style="margin-right:5px;" ></i>
                            {{el.name}}
                          </td>
                          <td ng-repeat="cell in row.cells" class="text-right" >
                            <input ng-if="!cell.isReadOnly" type="text" class="form-control text-right" style="padding: 1px 5px;" ng-model="cell.value" ng-blur="cell.update(query);" />
                            <span ng-if="cell.isReadOnly">{{cell.value | number:2}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </auto-height>
            </div>
          </div>

        </div>
      </uib-tab>

    </uib-tabset>
  
</div>