<div>

    <div class="modal-header text-white bg-danger">
        <span><i class="fa fa-trash"></i> Delete
    </div>

    <div class="modal-body">
        Are you sure to delete <label>{{ngDialogData.objectName}}</label>?
    </div>

    <div class="modal-footer">
        <button type="button" class="btn action" ng-click="closeThisDialog(0)" translate="CANCEL"></button>
        <button type="button" class="btn btn-secondary action" ng-click="ngDialogData.deleteObject()" translate="OK"></button>
    </div>

</div>